<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<nav class="navbar">
    <div class="navbar-left">
        <a th:href="@{/main}">
            <i class='bx bx-package logo'></i>
        </a>
    </div>
    <div class="navbar-right">
        <a href="/logout" class="btn logout">Sair</a>
    </div>
</nav>

<div class="table-container">
    <h1>Produtos Cadastrados</h1>

    <div th:if="${#lists.isEmpty(products)}">
        <p>Nenhum produto cadastrado.</p>
    </div>

    <div th:if="${!#lists.isEmpty(products)}" class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Fornecedor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td class="altura" th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></td>
                <td class="altura" th:text="${#numbers.formatDecimal(product.quantity, 1, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.supplier.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="button-group" style="margin-top: 30px;">
        <a th:href="@{/products/register}" class="btn save">Adicionar Produto</a>
    </div>
</div>
</body>
</html>
