<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Movimentação de Estoque</title>
</head>
<body>

<section>
    <h1>Cadastro de Movimentação de Estoque</h1>

    <form method="post" th:action="@{/stock-movement/save}"
          th:object="${stockMovement}">
        <label for="movementType">Tipo: </label>
        <select id="movementType" th:field="*{movementType}" required>
            <option value="" disabled selected>Selecione um tipo</option>
            <option value="INPUT">ENTRADA</option>
            <option value="OUTPUT">SAIDA</option>
        </select>

        <label for="quantity">Quantidade: </label>
        <input type="number" id="quantity" th:field="*{quantity}" required><br>

        <label for="movementDate">Data: </label>
        <input type="datetime-local" id="movementDate" th:field="*{movementDate}" required><br>

        <label for="observations">Observações: </label>
        <input type="text" id="observations" th:field="*{observations}" required><br>

        <label for="product">Produto: </label>
        <select id="product" th:field="*{product}" required>
            <option value="" disabled selected>Selecione um produto</option>
            <option th:each="prod : ${products}"
                    th:value="${prod.id}"
                    th:text="${prod.name}">
            </option>
        </select>

        <button type="submit">Salvar</button>
    </form>
</section>

</body>
</html>