<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Categorias</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="table-container">
    <h1>Categorias Cadastradas</h1>

    <div th:if="${#lists.isEmpty(categories)}">
        <p>Nenhum produto cadastrado.</p>
    </div>

    <div th:if="${!#lists.isEmpty(categories)}" class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="button-group" style="margin-top: 30px;">
        <a th:href="@{/categories/register}" class="btn save">Adicionar Categoria</a>
    </div>
</div>
</body>
</html>
